<div class="container">
  <h1>{{ name }}</h1>
  <table>
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
    </thead>
    <tbody>
      <tr *ngFor="let article of data;let i=index">
        <td>{{i+1}}</td>
        <td>{{ article.title }}</td>
        <td>{{ article.body }}</td>
      </tr>
    </tbody>
  </table>
  <img [src]="image" alt="image" />
  <button (click)="changetext()">Click alert</button>
</div>
